body {
    font-family: 'Prompt', sans-serif;
    font-style: italic;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.container {
    position: relative;
    text-align: center;
    color: black;
  }

.bottom-left {
    position: absolute;
    bottom: 350px;
    left: 16px;
    background-color: yellowgreen;
  }

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color:greenyellow;
  }

.top-right {
    position: absolute;
    top: 80px;
    right: 16px;
    background-color: violet;
  }

.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 16px;
    background-color: pink;
  }
  
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }