/* CSS for login.html (Date-Night Login Page) */
* {
  box-sizing: border-box;
  /* background-image: url(congruent_outline.png); */
}

body {
  font-family: 'Prompt', sans-serif;
  font-style: italic;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* Background pattern from Toptal Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/congruent-pentagon-outline/) */
  background-image: url(congruent_outline.png);
}

.container {
  text-align: center;
  justify-content: center;

  color: white;
}

.testimonial-container {
  text-shadow: -2px 2px 2px black;
}

.bottom-left {
  position: absolute;
  bottom: 350px;
  left: 16px;
  background-color:grey;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color:grey;
}

.top-right {
  position: absolute;
  top: 80px;
  right: 16px;
  background-color: grey;
}

.bottom-right {
  position: absolute;
  bottom: 100px;
  right: 16px;
  background-color: grey;
}
  
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
