img{
  max-width: 100%;
  height: auto;
}
  
.parallax-container {
   height: 400px;
}
  
/* CH tried: section colour (145, 43, 31) */
.section {
   background-color: white;
}
  
.header{
   color: black;
   /* CH tried text-shadow: -5px 5px 5px black; */
}
  
/* CH tried changing colour to "Let's begin with"
 .lets-begin {
   color: white;
   text-shadow: -1px 1px 1px black; 
} */
  
.collapsible-body {
  background-color: white;
}

/* Change colour of Radio Selector Buttons */

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #ffb74d;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #ffb74d;
}

/* h3, h6 {
    color: black;
}
h5{
    color: rgb(24, 24, 24);
} */

.materialboxed{
    margin: 20px;
}