img{
  max-width: 100%;
  height: auto;
}
  
.parallax-container {
   height: 400px;
}
  
/* CH tried: section colour (145, 43, 31) */
.section {
   background-color: white;
}
  
.header{
   color: black;
   /* CH tried text-shadow: -5px 5px 5px black; */
}
  
/* CH tried changing colour to "Let's begin with"
 .lets-begin {
   color: white;
   text-shadow: -1px 1px 1px black; 
} */
  
.collapsible-body {
  background-color: white;
}

/* .movie-list+ .movie-list-container+ .content {
    /* display: none; 
    position: absolute;
    bottom: 50px;
    width: fit-content;
    background-color: rgb(145, 43, 31);
    padding: 20px;
}

/* .movie-poster:hover + .hide {
  display: block;
  color: black;
} */ 

.card-panel{
    max-width: 40%;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
