/* CSS for response.html (Date-Night Response Page) */

/* Parallax images below/above main content */
img{
  max-width: 100%;
  height: auto;
}
  
.parallax-container {
   height: 400px;
}

/* MAIN CONTENT */

/* Parrallax container holding all of main content */
/* CH tried: section colour (145, 43, 31) */
.section {
   background-color: white;
}
  
.header{
   color: black;
   text-shadow: -2px 2px 2px grey;
   /* CH tried text-shadow: -5px 5px 5px black; */
}
  
/* CH tried changing colour to "Let's begin with"
 .lets-begin {
   color: white;
   text-shadow: -1px 1px 1px black; 
} */
  
.collapsible-body {
  background-color: white;
}

.collapsible-header{
    text-shadow: -1px 1px 1px black;
}

/* THEATRE SELECTION */

/* Change colour of Radio Selector Buttons */

/* [type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #ffb74d;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #ffb74d;
} */

/* Class allows theatre selection buttons to have pop-ups */
.tooltipped {
    /* text-shadow: -1px 1px 1px grey; */
}

/* MOVIE SELECTION */

/* Movie Poster Container */
.materialboxed{
    margin: 20px;
}

/* Movie Card */
.card {
    background-image: url(pexels-fwstudio-172292.png);
}

/* Text Stuff */
.text-darken-3{
    text-shadow: -1px 1px 1px grey;
}

h3 {
    color: white;
    text-shadow: -2px 2px 2px black;
}
h5{
    color: rgb(26, 16, 16);
    text-shadow: -2px 2px 2px white;
}
h6{
    color: white;
    text-shadow: -2px 2px 2px black;
}